<div class="row">
    <div class="card col p-3 m-3">
      <div class="ui statistic">
       <h3>Confirmed</h3>
        <h3> {{totalConfirmed}}</h3>
    </div>
  </div>
  <div class="card col p-3 m-3">
    <div class="ui statistic">
      
       <h3>Active</h3> 
      
      <h3>
        {{totalActive}}
      </h3>
      
     
  </div>
  </div>
        <div class="card col p-3 m-3">
      <div class="ui statistic">
        <h3>Recovered</h3>
    
       <h3>{{totalRecovered}}</h3>
      </div>
    </div>
        <div class="card col p-3 m-3">
      <div class="ui statistic">
        <h3> Death</h3>
      <h3>{{totalDeath}}</h3>
      </div>
    </div>
  </div>