<div class="row">
    <div class="card col p-4 m-4 " style="background-color:#1371A5">
      <div class="ui statistic">
       <h5 style="text-align:center;color:white">Confirmed</h5>
        <h3 style="text-align:center;color:white"> {{totalConfirmed | number}}</h3>
    </div>
  </div>
  <div class="card col p-4 m-4 " style="background-color:#6D469B">
    <div class="ui statistic">
      
       <h5 style="text-align:center;color:white">Active</h5> 
      
      <h3 style="text-align:center;color:white">
        {{totalActive| number}}
      </h3>
  </div>
  </div>
        <div class="card col p-4 m-4"  style="background-color:#3C7C76">
      <div class="ui statistic">
        <h5 style="text-align:center;color:white">Recovered</h5>
    
       <h3 style="text-align:center;color:white">{{totalRecovered | number}}</h3>
      </div>
    </div>
        <div class="card col p-4 m-4" style="background-color:#B74B60;">
      <div class="ui statistic">
        <h5 style="text-align:center;color:white"> Death</h5>
      <h3 style="text-align:center;color:white">{{totalDeath | number}}</h3>
      </div>
    </div>
  </div>